[Unit]
Description=SNA-LGTC init
After=generic-board-startup.service systemd-machine-id-commit.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sna-lgtc-boot

[Install]
WantedBy=multi-user.target
