[Unit]
Description=SNA-LGTC init
Requires=network-online.target
After=network-online.target
Before=munin-node.service docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sna-lgtc-boot

[Install]
WantedBy=multi-user.target
