Source: videk-client
Section: python
Priority: extra
Maintainer: Matevz Vucnik <matevz.vucnik@ijs.si>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), python (>= 2.6.6-3~), dh-python
Standards-Version: 3.9.8

Package: videk-client
Architecture: all
Depends: sna-lgtc-boot, systemd, ${misc:Depends}, ${python:Depends}
Description: Boot scripts for Videk client
 This package provides Videk REST client and a systemd service for
 registration of SNA-LGTC boards in Videk management system.
