Source: vesna-snc-boot
Section: embedded
Priority: extra
Maintainer: Tomaz Solc <tomaz.solc@tablix.org>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5)
Standards-Version: 3.9.8

Package: vesna-snc-boot
Architecture: all
Depends: openocd, systemd, ${misc:Depends}
Description: Boot VESNA SNC over JTAG when BeagleBone boots
 This package provides a systemd service that resets the JTAG interface on
 BeagleBone so that the VESNA SNC can boot at the same time as BeagleBone.
