[Unit]
Description=Boot VESNA SNC over JTAG
Requires=openocd.service
After=openocd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/vesna-snc-boot start
ExecStop=/bin/vesna-snc-boot stop

[Install]
WantedBy=multi-user.target
